<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Covid-19 Painel</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
  
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="https://adminlte.io/themes/dev/AdminLTE/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Amaranth:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  
  <style>

	body { 
    padding-top: 65px; 
	}
		
	.navbar-brand
	{
	  font-family: 'Lato', sans-serif;
	  color:grey;
	  font-size: 40px;
	  margin: 0px;
	}

  #navbar_brand_text
  {
    padding-left:15px;
  }

	.nav-item
	{
	  font-family: 'Lato', sans-serif;
	  color:grey;
	  font-size: 25px;
	  margin: 0px;
    padding-right:20px;
	}

	#classified_message
	{
	padding-top: 30px;
	}

	#classify_buttom
	{
	padding-top: 50px;
	padding-bottom: 30px;
	}

  .text-center
  {
  padding-top: 20px;
  padding-bottom: 0px;
  }

  #classifier_results{
  padding-bottom: 40px;  
  }


	</style>



</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top rounded-bottom" role="navigation">
    <a class="navbar-brand align-middle" href="/">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRtg9mZxA8VmvDNlIJHb288R79DPBWksNZbrO8bax3eXK4Y36Kr&usqp=CAU" width="60" height="60" class="d-inline-block align-middle" alt="">
    		<h2 id="navbar_brand_text" class="navbar-brand align-middle">Covid-19 Painel</h2>
    </a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/gabriel-boehme/" target="_blank">
          	<img src="https://jornaldoempreendedor.com.br/wp-content/uploads/2014/08/linkedi-logo.png" width="45" height="45" class="align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/gabrielboehme/DisasterResponsePainel/" target="_blank">
          	<img src="https://image.flaticon.com/icons/png/512/2175/2175377.png" width="45" height="45" class="align-middle" alt="">
          </a>
        </li>
      </ul>
    </div>
</nav>



<div class="jumbotron">
    <div class="container">

      
        <h1 class="text-center">Painel Covid-19</h1>
        <p class="text-center">Analisando dados diários dos EUA</p>
        <hr/>

        <div id="classifier_results" class="container">

          <section class="content">
            <div class="container-fluid">
              <!-- Small boxes (Stat box) -->
              <div class="row">

                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                      <div class="inner">
                        <h3>{{ '{:,}'.format(total_cases) }}</h3>
            
                        <p>Total de casos</p>
                      </div>
                      <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                  </div>
                  <!-- ./col -->
                  </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-danger">
                    <div class="inner">
                      <h3>{{ '{:,}'.format(total_deaths) }}</h3>
          
                      <p>Total de Mortos</p>
                    </div>
                      <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                        </div>
                <!-- ./col -->
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-danger">
                    <div class="inner">
                      <h3>{{ '{:,}'.format(today_deaths) }}</h3>
          
                      <p>Total de Mortos Hoje</p>
                    </div>
                      <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                        </div>
                <!-- ./col -->
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-danger">
                    <div class="inner">
                      <h3>{{worst_state}}</h3>
          
                      <p>Pior Estado</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-pie-graph"></i>
                </div>
                <!-- ./col -->
              </div>
              <!-- /.row -->
                      </div>
    
            {% block message %}
            {% endblock %}
        </div>
    </div>
          {% block content %}
          {% endblock %}
      
          {% for id in ids %}
              <div id="{{id}}" style="height:600px"></div>
          {% endfor %}
      </div>
      
      <script type="text/javascript">
          const graphs = {{graphJSON | safe}};
          const ids = {{ids | safe}};
          for(let i in graphs) {
              Plotly.plot(ids[i], graphs[i].data, graphs[i].layout);
          }
          
      </script>
      
      
    


  
</body>
</html>